aside
    h3 用户管理
    ul
        li 
            a(href="/") 用户信息
        li
            a(href="/") 权限管理
        li
            a(href="/") 验证码
    h3 用户行为
    ul
        li 
            a(href="/") 用户信息
        li
            a(href="/") 权限管理
        li
            a(href="/") 验证码
    h3 菜单管理
    ul
        li 
            a(href="/menu/list") 菜单列表
        li
            a(href="/menu/edit") 权限管理
        li
            a(href="/") 验证码