<!DOCTYPE>
html
    head
        include ./base/link.jade
    body
        include ./base/header.jade
        div.home
            h1 NODE-Manage
            p 练手！练手！见笑！见笑！
        footer
        include ./base/script.jade